<app-loader [isLoading]="componentsToLoad"></app-loader>
<h1 *ngIf="!componentsToLoad">
  {{room?.name}} |
  <span class="is-online">
    <span *ngIf="isOnline">
      <i class="fas fa-signal online"></i>
      Online
    </span>
    <span *ngIf="!isOnline">
      <i class="fas fa-signal offline"></i>
      Offline
    </span>
  </span>
</h1>
<div class="send-message-container">
  <form (ngSubmit)="sendMessage()">
    <input title="message" name="message" type="text" [(ngModel)]="userMessage"/>
    <button [disabled]="componentsToLoad || !userMessage || !isOnline || sendingMessage"
            type="submit">
      Send
    </button>
    <i class="fas fa-spinner fa-spin" *ngIf="sendingMessage"></i>
  </form>
</div>
<div class="chat-container" [hidden]="componentsToLoad" #chatContainer [ngClass]="{'new-message': newMessage}">
  <div class="message" *ngFor="let message of messages">
    <div class="info">
      {{message.createdBy?.userName || message.createdById}} | {{message.createdAt | date : 'medium'}}
    </div>
    <div class="content">
      {{message.text}}
    </div>
  </div>
</div>
