<div class="container-fluid">
  <div class="room-list">
    <h1>Room List</h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <div class="room" *ngFor="let room of chatrooms">
      <a [routerLink]="['/room', room.id]">{{room.name}}</a>
    </div>
  </div>

  <hr/>
  <div class="new-room-container">
    <input #newRoomInput type="text" />
    <button [disabled]="isLoading || !newRoomInput.value" type="button"
            (click)="createNewRoom(newRoomInput.value)">
      Create new room
    </button>
  </div>
</div>
